# Libraries to install specific to SpineToolbox
tomlkit
pathlib
toml

# Libraries for CWatM
plotly
pandas
matplotlib
notebook
deap
"numpy<2.0" 
scipy
netCDF4
dask
flopy
xmipy

# Libraries to interact with NC files 
cdo